.app-header__content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.app-header__brand {
  font-size: 1.4rem;
  font-weight: 700;

  color: var(--mat-sys-primary);
  text-decoration: none;
}

.app-header__brand:hover {
  color: var(--mat-sys-on-primary-container);
}

.app-header__navigation,
.app-header__languages,
.app-header__auth {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.app-header__navigation {
  margin-inline-end: auto;
  display: flex;
  gap: 1.5rem;
}

.app-header__link {
  text-decoration: none;
}

.app-header__link,
.app-header__auth button,
.app-header__languages button {
  padding: 0.5rem 0.9rem;

  border: none;
  border-radius: 0.5rem;

  background-color: transparent;
  color: var(--app-text);

  font: inherit;
  font-weight: 500;
  text-decoration: none;

  cursor: pointer;

  transition: background-color 0.2s ease,
  color 0.2s ease;
}

.app-header__link:hover,
.app-header__auth button:hover,
.app-header__languages button:hover {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

.app-header__languages button.active {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.app-header__auth button {
  color: var(--mat-sys-error);
}

.app-header__auth button:hover {
  background-color: var(--mat-sys-error-container);
  color: var(--mat-sys-on-error-container);
}
