<header class="app-header">
  <div class="container">
    <a routerLink="/" class="app-header__brand">
      {{ 'layout.header.appName' | translate }}
    </a>

    <nav class="app-header__languages">
      @for (lang of languages; track lang) {
        <button
          type="button"
          (click)="setLang(lang)"
          [class.active]="lang === currentLang">
          {{ ('common.languages.' + lang) | translate }}
        </button>
      }
    </nav>

    @if (authService.isAuthenticated()) {

      <button type="button" (click)="logout()">{{ 'auth.logout.submit' | translate }}</button>
    } @else {
      <button>
        <a routerLink="/login">{{ 'auth.login.title' | translate }}</a>
      </button>

      <button>
        <a routerLink="/register">{{ 'auth.register.title' | translate }}</a>
      </button>
    }
  </div>
</header>
