<section class="home">

  <div class="language-switcher">

    <span>{{ 'home.chooseAnotherLanguage' | translate }}</span>

    @for (lang of languages; track lang) {
      @if (lang !== currentLang) {
        <button type="button" (click)="setLang(lang)">
          {{ ('common.languages.' + lang) | translate }}
        </button>
      }
    }

  </div>

  <hr/>

  <h1>{{ 'home.title' | translate }}</h1>

  <p class="subtitle">
    {{ 'home.subtitle' | translate }}
  </p>

  <nav class="actions">

    <a
      routerLink="/users/1/borrowed-books"
      routerLinkActive="active-link">
      {{ 'home.borrowedBooks' | translate }}
    </a>

    <a
      routerLink="/users/1/lent-books"
      routerLinkActive="active-link">
      {{ 'home.lentBooks' | translate }}
    </a>

  </nav>


</section>
