<section class="auth-page">
  <h1>{{ 'auth.register.title' | translate }}</h1>

  @if (successMessageKey()) {
    <p class="form-success">
      {{ successMessageKey() | translate }}
    </p>
  }

  @if (errorMessageKey()) {
    <p class="form-error">
      {{ errorMessageKey() | translate }}
    </p>
  }

  <form
    class="auth-form"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field appearance="outline">
      <mat-label>
        {{ 'auth.register.displayName' | translate }}
      </mat-label>

      <input
        matInput
        type="text"
        formControlName="displayName"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{ 'auth.register.email' | translate }}
      </mat-label>

      <input
        matInput
        type="email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{ 'auth.register.password' | translate }}
      </mat-label>

      <input
        matInput
        type="password"
        formControlName="password"
      />
    </mat-form-field>

    <button
      type="submit"
      class="app-button app-button--primary"
      [disabled]="registerForm.invalid"
    >
      {{ 'auth.register.submit' | translate }}
    </button>
  </form>
</section>
